MOT16
*.zip
.zip

deep_sort/resources

# MacOSX
.DS_Store
._.DS_Store
._*

forwarded
models
summaries
logs
slurm*.out
__pycache__
.idea

trackrcnn_init
sort/data
DMAN_MOT/model/*
data_tracking_image_2
TrackR-CNN/kitti_mots
*.jpg
*.mp4
